        <!-- Scripts -->
        <script src="{{ [
            '@jquery',
            '@framework',
            '@framework.extras',

            'assets/dist/js/app.js',
        ] | theme }}"></script>
        {% scripts %}

        {% flash %}
            <p data-control="flash-message" data-interval="7" class="flashmessage {{ type }}">
                {{ message }}
            </p>
        {% endflash %}

         <script>
            console.log("hahahaha")
         </script>

    </body>
</html>
