/**
 * Custom CSS for theme goes here
 */


 @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;900&display=swap');


 * {
   font-family: 'Montserrat', sans-serif;
 }

 html {
   font-weight: 400;
 }
 .navbar {
   font-weight: 400;
   font-size: 1rem;
 }


.navbar li {
   @apply list-none;
}    

.navbar li a {
   @apply py-5 px-3 hover:text-primary
}

hr {
   border-bottom: solid 1px rgb(191, 191, 191);
   margin: 1rem 0;
}

.noisy {
   background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 400 400' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='3.22' numOctaves='1' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");  
 } 
